* {
    box-sizing: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito";
    overflow: hidden;
}

a {
    text-decoration: none;
}



/*navbar styling*/
.navbar {
    background-color: rgb(220, 220, 220, 0.5);
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul {
    list-style: none;
}

.navbar a {
    padding: 0vw 2vw;
    transition: 0.5s;
    color: black;
}

.navbar a:hover {
    color: dimgrey;
    
}

.navbar .container ul {
    display: flex;
}

.navbar .container {
    padding: 1vw;
    max-width: 100%;
    text-align: center;
}

/*main body*/

.main {
    width: 100%;
    height: 100vh;
}

.main .container .main-img {
    width: 27vw;
    position: absolute;
    margin: 6.5vw 7.5vw 2vw;
    left: -2vw;
    border: 0.25vw solid black;
    border-radius: 0.25vw;
}

.main .container .main-topic {
    position: absolute;
    left: 35vw;
    top: 7vw;
}

.main .container .main-text {
    position: absolute;
    left: 35vw;
    top: 10vw;
    width: 50vw;
}

.main .container .main-topic2 {
    position: absolute;
    left: 35vw;
    top: 25vw;
}

.main .container .main-text2 {
    position: absolute;
    left: 35vw;
    top: 28vw;
    width: 50vw;
}