* {
    box-sizing: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito";
    overflow: hidden;
}

a {
    text-decoration: none;
}



/*navbar styling*/
.navbar {
    background-color: rgb(220, 220, 220, 0.5);
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul {
    list-style: none;
}

.navbar a {
    padding: 0vw 2vw;
    transition: 0.5s;
    color: black;
}

.navbar a:hover {
    color: dimgrey;
    
}

.navbar .container ul {
    display: flex;
}

.navbar .container {
    padding: 1vw;
    max-width: 100%;
    text-align: center;
}

/*main body*/

.main {
    width: 100%;
    height: 100vh;
}

.main .container .main-img {
    width: 27%;
    position: absolute;
    margin: 6.5vw 7.5vw 2vw;
    left: -2vw;
    border: 0.25vw solid black;
    border-radius: 0.25vw;
}

.main .container .main-topic {
    position: absolute;
    left: 35vw;
    top: 15vh;
}

.main .container .main-text {
    position: absolute;
    left: 35vw;
    top: 20vh;
    width: 50vw;
}

.main .container .main-topic2 {
    position: absolute;
    left: 35vw;
    top: 35vh;
}


.skills-container {
    position: absolute;
    top: 40vh;
    left: 35vw;
    width: 20vw;
}

.skill {
    margin-bottom: 2vw;
}

.skill p {
    margin: 0.5vw 0;
    font-weight: bold;
}

.progress-bar {
    width: 200%;
    background-color: #e0e0e0;
    border-radius: 0.5vw;
    overflow: hidden;
}

.progress {
    height: 3vh;
    background-color: #4ca2af;
    border-radius: 0.5vw;
    transition: width 0.5s ease-in-out;
}

.progress-text {
    position: absolute;
    top: -2.5vw;
    right: 0;
    transform: translateX(50%);
    font-weight: bold;
    color: black;
}