* {
    box-sizing: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito";
    overflow: hidden;
}

a {
    text-decoration: none;
}



/*navbar styling*/
.navbar {
    background-color: rgb(220, 220, 220, 0.5);
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul {
    list-style: none;
}

.navbar a {
    padding: 0vw 2vw;
    transition: 0.5s;
    color: black;
}

.navbar a:hover {
    color: dimgrey;
    
}

.navbar .container ul {
    display: flex;
}

.navbar .container {
    padding: 1vw;
    max-width: 100%;
    text-align: center;
}

/*main body*/

.main {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    padding: 1vw;
    top: 10vh;
}

.card {
    background-color: #fff;
    border-radius: 0.25vw;
    box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.2s;
    width: 20vw;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    cursor: pointer;
    padding: 0.25vw 0.5vw;
}

.card-desc {
    padding: 0.5vw;
}